body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradientBG 30s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    max-width: 42rem;
    width: 100%;
    align-self: center;
    margin-top: 2rem;
    border: #201f1f 1px solid;
    border-radius: 0.5rem;
    background-color: #ffffffe0;
    box-shadow: #201f1f86 0rem 2rem 4rem;
}

.list-element {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0.01rem solid gray;
    background: linear-gradient(80deg, #efefef, #ffffff 70%);
}

.list-element .title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.3rem;
}

.list-element .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
    color: gray;
    margin-left: 0.3rem;
}

.list-element .details .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.list-element .details .tag {
    color: #201f1f;
    background-color: #afafaf;
    font-weight: bold;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    border-radius: 0.2rem;
    margin-right: 0.6rem;
    box-shadow: #201f1f42 0.05rem 0rem 0.5rem;
}

.list-element .details .state {
    padding-right: 1rem;
    font-weight: bold;
}

.list-element .progress {
    background-color: #201f1f33;
    box-shadow: #0c0c0c42 0rem 0.1rem 0.2rem;
    height: 0.5rem;
    border-radius: 0.2rem;
    margin: 0.6rem 1rem 0.2rem 0rem;
}

.list-element .progress .completed {
    background: linear-gradient(90deg, rgba(27, 136, 23, 0.8), rgba(12, 196, 27, 0.8), rgba(127, 223, 124, 0.8), rgba(32, 141, 41, 0.8));
    background-size: 400% 400%;
    animation: gradientBG 8s ease infinite;
    height: 0.5rem;
    border-radius: 0.2rem;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.search input{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: calc(100% - 1rem);
    background: #ffffff00
}

.detailedView {
    padding: 1rem;
}

.detailedView .title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.detailedView .tags {
    display: flex;
    flex-direction: row;
}

.detailedView .state {
    margin-right: 1rem;
}

.detailedView .tag {
    color: #201f1f;
    background-color: #afafaf;
    font-weight: bold;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    border-radius: 0.2rem;
    margin-right: 0.6rem;
    box-shadow: #201f1f42 0.05rem 0rem 0.5rem;
}

.detailedView .detailed {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
}

.detailedView .responsible {
    display: flex;
    flex-direction: row;
}

.detailedView .responsible .name {
    margin-right: 1rem;
}

.detailedView .dependency {
    display: grid;
}

.task {
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 1.6rem;
}

.task:hover {
    cursor: pointer;
}

.task.inprogress {
    background-color: darkblue;
}

.task.todo {
    background-color: gray;
}

.task.completed {
    background-color: green;
}

button {
    border-radius: 0.5rem;
    border: 0.05rem solid #923596ce;
    margin: 1rem;
    padding: 0.4rem;
    font-weight: bold;
    background: linear-gradient(0deg, #efefef, #ffffff);
}

input {
    border-radius: 0.2rem;
    padding: 0.4rem;
}